aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
aistudio_sdk==0.3.9
annotated-types==0.8.0
anyio==4.14.2
attrs==26.1.0
bce-python-sdk==0.9.76
certifi==2026.7.22
chardet==7.6.0
charset-normalizer==3.5.1
click==8.4.2
colorama==0.4.6
colorlog==6.12.0
crc32c==2.9
filelock==3.32.4
frozenlist==1.8.0
fsspec==2026.7.0
future==1.0.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.28.0
idna==3.19
imagesize==2.0.1
modelscope==1.39.1
modelscope-hub==0.2.0
multidict==6.7.1
networkx==3.6.1
numpy==2.3.5
nvidia-cublas-cu12==12.9.0.13
nvidia-cuda-runtime-cu12==12.9.37
nvidia-cudnn-cu12==9.9.0.52
nvidia-cufft-cu12==11.4.0.6
nvidia-curand-cu12==10.3.10.19
nvidia-cusolver-cu12==11.7.4.40
nvidia-cusparse-cu12==12.5.9.5
nvidia-nvjitlink-cu12==12.9.86
opencv-contrib-python==4.10.0.84
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
paddleocr==3.7.0
paddlepaddle-gpu @ https://paddle-qa.bj.bcebos.com/paddle-pipeline/Develop-TagBuild-Training-Windows-Gpu-Cuda12.9-Cudnn9.9-Trt10.5-Mkl-Avx-VS2019-SelfBuiltPypiUse/86d658f56ebf3a5a7b2b33ace48f22d10680d311/paddlepaddle_gpu-3.0.0.dev20250717-cp312-cp312-win_amd64.whl#sha256=2a44ad98d2b57b2bd26ab9c695d517b39a86c7ed2e0c0684ae30e773118d083e
paddlex==3.7.2
pandas==3.0.5
pillow==12.3.0
prettytable==3.18.0
propcache==0.5.2
protobuf==7.36.0
psutil==7.2.2
py-cpuinfo==9.0.0
pyclipper==1.4.0
pycryptodome==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
pypdfium2==5.13.0
python-bidi==0.6.11
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.34.2
ruamel.yaml==0.19.1
setuptools==83.0.0
shapely==2.1.2
six==1.17.0
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
ujson==5.13.0
urllib3==2.7.0
wcwidth==0.8.2
wheel==0.47.0
yarl==1.24.5
